
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: lato, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../img/women.jpg);
    background-size: cover;
}

.container {
    position: relative;
}

.form {
    position: absolute;
    top: 10rem;
    left: 10%;

    &__group {
        
    }
}
