
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

    height: 100vh;
    background-image: url(../img/women.jpg);
    background-size: cover;
}

.container {
    margin: 10vh 0 0 20vh;
    width: 400px;
    padding: 30px 40px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-control{
    margin-bottom: 10px;
    text-align: center;

    & input{
        display: block;
        margin: 10px 0;
        padding: 12px 45px;
        font-size: 14px;
        font-weight: 400;
        width: 50%;
        border-radius: 100px;
        border: 1px solid rgb(182, 182, 182);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        color:rgb(87, 87, 87);

        &:focus {
            outline: none;
        }
    }

    
    & small {
        visibility: hidden;
    }
  
}
.email {
    background: url(../img/email.png) no-repeat scroll 10px 8px;
    background-color: #fff;
    background-size:25px;
    
}
.password {
    background: url(../img/lock.png) no-repeat scroll 10px 8px;
    background-color: #fff;
    background-size:25px;
}
